*,
*:before,
*:after{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif, 'Open Sans', sans-serif; 
  @include media(">=1024px"){
    max-width:1024px;
    margin:0 auto
  }
}
header{
  input[type="checkbox"]{
    position: absolute;
    margin-left: -9999px;
  }
  @include size(37px, 100%);
    background: $OuterSpace;
    display: flex;
    justify-content: space-between;
    padding-left: 19px;
    align-items: center;
    position: fixed;
    z-index: 3;
  @include media(">=640px"){
    height: 74px;
    padding-left: 38px;
  }
  @include media(">=980px"){
    height: 97px;
    padding-left: 54px;
    justify-content: start;
    position: relative;
  }
  h1{
    color:$Gallery;
    font-size: 12px;
    font-weight: 500;
    @include media(">=640px"){
      font-size: 23px;
      font-weight: 500;
    }
    @include media(">=980px"){
      display: none;
    }
  }   
}
main{
  padding-top:37px;
  @include media(">=640px"){
    padding-top:74px;
  }
  @include media(">=980px"){
    padding-top:0px
  }
}
ul.nav {
  position:absolute;
  top:0px;
  left:0px;
  @include size(100vh, 100%);
  display:flex;
  flex-direction: column;
  background: $Shark;
  padding-top:50px;
  align-items: center;
  transform: translate(0, -100vh);
  transition: transform 1s ease;
  z-index: 2;
  @include media(">=980px"){
    @include size(97px, 100%);
    display:contents;
    background: $OuterSpace;
  }
  a{
    text-decoration: none;
    color:$White;
    text-transform: uppercase;
    font-size: 24px;
    transition: .4s;
      @include media(">=980px"){
      font-size: 15px;
      font-weight: 600;
      word-spacing: 1px;
      color:$Gallery;
      transition: none;
      }
      &:hover{
        color:$Java;
        transition: .4s;
      }
  }
  & > li{
    padding-bottom: 20px;
    @include media(">=980px"){
      margin-right: 25px;
      padding-bottom: 0px;
      position: relative;
      display: flex;
      align-items: center;
    }
    &:hover{
      div > ul{
        @include media(">=980px"){
        display: block;
        }
      }
    }
    & > div{
      position: absolute;
        display: block;
        @include position(14px, calc(50% - 100px));
        padding-top:42px
    }
    & > div > ul{
      display: none;
      @include media(">=980px"){
        padding-top: 22px;
        text-align: center;
        background:$Mandy;
        width:200px;
        // display: block;
        position: relative;
        &:after{
          content:"";
          @include position(-17px, calc(50% - 10px));
          position: absolute;
          border: 8px solid transparent;
          border-bottom: 9px solid $Mandy;
        }
        & > li{
          padding-bottom: 22px;
          position: relative;
          a{
            color:$White;
            font: 400 14px 'Open Sans', sans-serif;
            text-transform: none;
            &:hover{
              color:$OuterSpace
            }
          }
          & > div > ul{
            background: $Mandy;
            padding: 15px;
            width: 149px;
            text-align: left;
            position: relative;
            &:after{
          content:"";
          top:17px;
          left:-16px;
          position: absolute;
          border: 8px solid transparent;
          border-right: 9px solid $Mandy;
        }
            li{
              padding-bottom: 15px;
            }
          }
        }
        li:hover{
          div{
            @include media(">=980px"){
              display: block;
            }
          }
        }
        div{
            position: absolute;
            @include position (-14px, -159px);
            padding-left: 50px;
            display: none;
          }
      }
    }
  }
  li.active a{
    color:$Java;
  }
}
    
    label{
      @include size(37px, 41px);
      background: $Shark;
      position: relative;
      z-index: 3;
      cursor: pointer;
      overflow: hidden;
      @include media(">=640px"){
        @include size(74px, 82px);
      }
      @include media(">=980px"){
        display: none;
        transform: none;
      }
      span{
      @include size(2px, 15px);
      background: $White;
      position: absolute;
      display: block;
      left:calc(50% - 8px);
      transition: all .5s ease;
      @include media(">=640px"){
        @include size(4px, 31px);
        left:calc(50% - 15px);
      }
    }
    }
    
    label span:first-child{
      top:13px;
      @include media(">=640px"){
        top:26px;
      }
    }
    label span:nth-child(2){
      top:17px;
      @include media(">=640px"){
        top:34px;
      }
    }
    label span:nth-child(3){
      top:17px;
      opacity: 0;
      @include media(">=640px"){
        top:34px;
      }
    }
    label span:last-child{
      top:21px;
      @include media(">=640px"){
        top:42px;
      }
    }
    input[type="checkbox"]:checked ~ ul{
      transform:none
    }
    input[type="checkbox"]:checked + label span:first-child{
      transform: translate(-100px, 0);
    }
    input[type="checkbox"]:checked + label span:nth-child(2){
      transform: rotate(135deg);
    }
    input[type="checkbox"]:checked + label span:nth-child(3){
      transform: rotate(-135deg);
      opacity: 1;
    }
    input[type="checkbox"]:checked + label span:last-child{
      transform: translate(100px, 0);
    }
  .free-psd{
    height: 175px;
    background: $JavaLight;
    padding:0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media(">=640px"){
      height: 348px;
      padding:0px 50px;
    }
    @include media(">=980px"){
      height: 549px;
      padding:0px 78px;
    }
    @include media(">=1024px"){
      height: 577px;
    }
      h2{
        color:$White;
        font-size:20px;
        line-height: 20px;
        margin-bottom: 19px;
        @include media(">=640px"){
          font-size:39px;
          line-height: 42px;
          margin-bottom: 37px;
          font-weight: 500;
        }
        @include media(">=980px"){
          font-size:59px;
          line-height: 67px;
          margin-bottom: 59px;
          font-weight: 500;
          letter-spacing: 1px;
        }
      }
      a{
        color:$AquaIsland;
        font-size: 11px;
        line-height: 5px;
        text-decoration: none;
        font:500 11px/5px 'Montserrat', sans-serif;
        position: relative;
        width:130px;
        @include media(">=640px"){
          font:500 23px/11px 'Montserrat', sans-serif;
        }
        @include media(">=980px"){
          font:500 35px/0px 'Montserrat', sans-serif;
        }
          &:hover{
            color:$White
          }
      }
      .arrow-link:before{
        content: "\f105";
        font-size: 19px;
        color: $White;
        @include position(-10px, -98px);
        position: absolute;
        display: block;
        @include media(">=640px"){
          font-size: 31px;
          @include position(-9px, -317px);
          font-weight: 600;
        }
         @include media(">=980px"){
        font-size: 42px;
         @include position(-20px, -565px);
         }
      }
  }
  .files-psd{
    min-height: 75px;
    background: $BalticSea;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 81px 10px 27px;
    position: relative;
    @include media(">=640px"){
      min-height: 150px;
      padding:10px 153px 10px 54px;
    }
    @include media(">=980px"){
      min-height: 234px;
      padding:10px 183px 10px 84px;
    }
    @include media(">=1024px"){
      min-height: 245px;
      padding:10px 193px 10px 84px;
    }
      span{
        @include size(100%, 71px);
        background: $MediumRedViolet;
        display: block;
        position: absolute;
        @include position(0px, 0px);
        @include media(">=640px"){
          width:143px;
        }
        @include media(">=980px"){
          width:218px;
        }
        @include media(">=1024px"){
          width:228px;
        }
          &:before{
              content: "\f105";
              font-size: 24px;
              color: $White;
              @include position(calc(50% - 15px), calc(50% - 7px));
              position: absolute;
              display: block;
              @include media(">=640px"){
                font-size: 40px;
                @include position(calc(50% - 21px), calc(50% - 13px));
              }
              @include media(">=980px"){
                font-size: 40px;
                font-weight: 600;
              }
              @include media(">=1024px"){
                right: calc(50% - 11px);
              }
          }
          &:hover::before{
            color:$Kobi
          }
      }
      strong{
        color:$AmethystSmoke;
        font-size: 10px;
        font-weight: 500;
        @include media(">=640px"){
          font-size: 19px;
        }
        @include media(">=980px"){
          font-size: 22px;
        }
      }
  }
  .picture{
    @include media(">=980px"){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    a{
      @include media(">=980px"){
      width:34%;
      }
      span{
        min-height: 275px;
        background: $BlueGem;
        width:100%;
        position: relative;
        display: block;
        @include media(">=980px"){
          height: 100%;
          display: block;
        }
        &:before{
          content: "\f105";
          font-size: 63px;
          color: $White;
          @include position(calc(50% - 43px), calc(50% - 8px));
          position: absolute;
          display: block;
          @include media(">=980px"){
            font-size: 50px;
            @include position(calc(50% - 29px), calc(50% - 12px));
          }
        }
        &:hover:before{
          color:$Heliotrope
        }
      }
    }
    img{
      width:100%;
      display: block;
      @include media(">=980px"){
       width: 33%;
      }
    }
  }
  .content{
    @include size(100%, 100%);
    background: $Gallery;
    padding:34px 36px;
    @include media(">=640px"){
      padding:71px 74px;
    }
    @include media(">=980px"){
      padding:71px 77px;
    }
      a{
        text-decoration: none;
        color: $BlueChill;
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 17px;
        display: inline-block;
        @include media(">=640px"){
          font-size: 30px;
          font-weight: 500;
          margin-bottom: 40px;
        }
          &:hover{
            text-decoration: underline;
          }
      }
  }
  .text{
    @include media(">=980px"){
      columns: 370px 2;
      column-gap: 74px;
    }
      p{
        font-size: 14px;
        color:$Emperor;
        line-height: 22px;
        padding-bottom: 36px;
        text-align: justify;
        @include media(">=640px"){
          font-size: 21px;
          line-height: 44px;
          padding-bottom: 48px;
          font-weight: 500;
          word-spacing: 3px;
        }
        @include media(">=980px"){
          font-size: 14px;
          line-height: 26px;
          padding-bottom: 44px;
        }
      }
  }
  .text p:nth-child(3),
  .text p:nth-child(4){
    display: none;
    @include media(">=980px"){
      display: inline-block;
    }
  }
  
