*,
*:before,
*:after{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
header input[type="checkbox"]{
      position: absolute;
      margin-left: -9999px;
    }
@include media(">=320px"){
  header{
    @include size(37px, 100%);
    background: $OuterSpace;
    display: flex;
    justify-content: space-between;
    padding-left: 19px;
    align-items: center;
    position: fixed;
    z-index: 3;
      h1{
        color:$Gallery;
        font-size: 12px;
        font-weight: 500;
      }
  }
  main{
    padding-top:37px
  }
  ul {
    a{
      text-decoration: none;
      color:$White;
      text-transform: uppercase;
      font-size: 24px;
      transition: .4s;
        &:hover{
          color:$Java;
        }
    }
    li{
      padding-bottom: 20px;
    }
    li.active a{
      color:$Java;
    }
  }
    
    label{
      @include size(37px, 41px);
      background: $Shark;
      position: relative;
      z-index: 3;
      cursor: pointer;
      overflow: hidden;
        span{
          @include size(2px, 15px);
          background: $White;
          position: absolute;
          display: block;
          left:calc(50% - 8px);
          transition: all .5s ease;
        }
    }
    label span:first-child{
      top:13px;
    }
    label span:nth-child(2){
      top:17px;
    }
    label span:nth-child(3){
      top:17px;
      opacity: 0;
    }
    label span:last-child{
      top:21px;
    }
    input[type="checkbox"]:checked ~ ul{
      transform:none
    }
    input[type="checkbox"]:checked + label span:first-child{
      transform: translate(-100px, 0);
    }
    input[type="checkbox"]:checked + label span:nth-child(2){
      transform: rotate(135deg);
    }
    input[type="checkbox"]:checked + label span:nth-child(3){
      transform: rotate(-135deg);
      opacity: 1;
    }
    input[type="checkbox"]:checked + label span:last-child{
      transform: translate(100px, 0);
    }
    ul {
      position:absolute;
      top:0px;
      left:0px;
      @include size(100vh, 100%);
      display:flex;
      flex-direction: column;
      background: $Shark;
      padding-top:50px;
      align-items: center;
      transform: translate(0, -100vh);
      transition: transform 1s ease;
      z-index: 2;
    }
  .free-psd{
    height: 175px;
    background: $JavaLight;
    padding:0px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
      h2{
        color:$White;
        font-size:20px;
        line-height: 20px;
        margin-bottom: 19px;
      }
      a{
        color:$AquaIsland;
        font-size: 11px;
        line-height: 5px;
        text-decoration: none;
        font:500 11px/5px 'Montserrat', sans-serif;
        position: relative;
        width:130px;
          &:hover{
            color:$White
          }
      }
      .arrow-link:before{
        content: "\f105";
        font-size: 19px;
        color: $White;
        @include position(-10px, -98px);
        position: absolute;
        display: block;
      }
      // .arrow-link:hover:before{
      //   color:#fff
      // }
  }
  .files-psd{
    min-height: 75px;
    background: $BalticSea;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 81px 10px 27px;
    position: relative;
      span{
        @include size(71px, 100%);
        background: $MediumRedViolet;
        display: block;
        position: absolute;
        @include position(0px, 0px);
          &:before{
              content: "\f105";
              font-size: 24px;
              color: $White;
              @include position(calc(50% - 15px), calc(50% - 7px));
              position: absolute;
              display: block;
          }
          &:hover::before{
            color:$Kobi
          }
      }
      strong{
        color:$AmethystSmoke;
        font-size: 10px;
        font-weight: 500;
      }
      
  }
  .picture{
    span{
      min-height: 275px;
      background: $BlueGem;
      width:100%;
      position: relative;
      display: block;
      &:before{
        content: "\f105";
        font-size: 63px;
        color: $White;
        @include position(calc(50% - 43px), calc(50% - 8px));
        position: absolute;
        display: block;
      }
      &:hover:before{
        color:$Heliotrope
      }
    }
    img{
      width:100%;
      display: block;
    }
  }
  .content{
    @include size(100%, 100%);
    background: $Gallery;
    padding:34px 36px;
      a{
        text-decoration: none;
        color: $BlueChill;
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 17px;
        display: block;
          &:hover{
            text-decoration: underline;
          }
      }
  }
  .text{
      p{
        font-size: 14px;
        color:$Emperor;
        line-height: 22px;
        padding-bottom: 36px;
        text-align: justify;
      }
  }
  .text p:nth-child(3),
  .text p:nth-child(4){
    display: none;
  }
  
}
@include media(">=640px"){
  header{
    height: 74px;
    padding-left: 38px;
      h1{
        font-size: 23px;
        font-weight: 500;
      }
      label{
        @include size(74px, 82px);
          span{
            @include size(4px, 31px);
            left:calc(50% - 15px);
          }
      }
      label span:first-child{
        top:26px;
      }
      label span:nth-child(2){
        top:34px;
      }
      label span:nth-child(3){
        top:34px;
        opacity: 0;
      }
      label span:last-child{
        top:42px;
      }
  }
  main{
    padding-top:74px
  }
  .free-psd{
    height: 348px;
    padding:0px 50px;
      h2{
        font-size:39px;
        line-height: 42px;
        margin-bottom: 37px;
        font-weight: 500;
      }
      a{
        font:500 23px/11px 'Montserrat', sans-serif;
        position: relative;
      }
      .arrow-link:before{
        font-size: 31px;
        @include position(-9px, -317px);
        font-weight: 600;
      }
  }
  .files-psd{
    min-height: 150px;
    padding:10px 153px 10px 54px;
      span{
        width:143px;
          &:before{
              content: "\f105";
              font-size: 40px;
              @include position(calc(50% - 21px), calc(50% - 13px));
          }
      }
      strong{
        font-size: 19px;
        font-weight: 500;
      }
  }
  .picture{
    .arrow{
      height: 551px;
    }
  }
  .content{
    padding:71px 74px;
      a{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 40px;
      }
      p{
        font-size: 21px;
        line-height: 44px;
        padding-bottom: 48px;
        font-weight: 500;
        word-spacing: 3px;
      }
  }
}
@include media(">=980px"){
  header{
    height: 97px;
    padding-left: 54px;
    justify-content: start;
    position: relative;
      h1{
        display: none;
      }
      label{
        display: none;
        transform: none;
      }
  }
  main{
    padding-top:0px
  }
  ul {
    @include size(97px, 100%);
    display:contents;
    background: $OuterSpace;
        li{
          padding-right: 25px;
          padding-bottom: 0px;
            a{
              font-size: 15px;
              font-weight: 600;
              word-spacing: 1px;
              color:$Gallery;
              transition: none;
            }
        }
    }
  .free-psd{
    height: 549px;
    padding:0px 78px;
      h2{
        font-size:59px;
        line-height: 67px;
        margin-bottom: 59px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      a{
        font:500 35px/0px 'Montserrat', sans-serif;
      }
      .arrow-link:before{
        font-size: 42px;
        @include position(-20px, -565px);
        
      }
  }
  .files-psd{
    min-height: 234px;
    padding:10px 183px 10px 84px;
      span{
        width:218px;
          &:before{
              font-size: 40px;
              @include position(calc(50% - 21px), calc(50% - 13px));
              font-weight: 600;
          }
      }
      strong{
        font-size: 22px;
        font-weight: 500;
      }
  }
  .picture{
    display: flex;
    flex-direction: row;
    span{
      height: 100%;
    }
    a{
      @include size(auto, 33.4%);
    }
    .arrow-picture{
        &:before{
            content: "\f105";
            font-size: 50px;
            @include position(calc(50% - 29px), calc(50% - 12px));  
        }
    }
    img{
      width: 33.3%;
    }
  }
  .content{
    padding:71px 77px;
      a{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 40px;
      }
  }
  .text{
    columns: 370px 2;
    column-gap: 74px;
    p{
      font-size: 14px;
      line-height: 26px;
      padding-bottom: 44px;
      font-weight: 500;
      word-spacing: 3px;
    }
  }
  .text p:nth-child(3),
  .text p:nth-child(4){
    display: inline-block;
  }
}
@include media(">=1024px"){
  body{
    max-width:1024px;
    margin:0 auto
  }
  .free-psd{
    height: 577px;
  }
  .files-psd{
    min-height: 245px;
    padding:10px 193px 10px 84px;
      span{
        width:228px;
          &:before{
            right: calc(50% - 11px);
        }
      }
  }
}