// colors
$OuterSpace: #373c3f;
$Gallery: #ebebeb;
$White: #fff;
$Java: #17b3c5;
$Shark: #202529;;
$JavaLight: #15b0c3;
$AquaIsland: #a7d1dc;
$BalticSea: #27212c;
$MediumRedViolet: #bc3183;
$Kobi: #e79ec9;
$AmethystSmoke: #a290b1;
$BlueGem: #5b0fa1;
$Heliotrope: #be82f7;
$BlueChill: #088ca5;
$Emperor: #515151;

